/*

!.gitignore
!README.md
!*.png

!/btop**
!/dunst**
!/i3**
!/kitty**
!/neofetch**
!/ranger**
!/rofi**
!/rog**
!/zathura**
!/StartTree**
!/tofi**
!/waybar**
!/foot**
!/fastfetch**
!/hypr**
!/yazi**
!/eww**
!/ashell**
!/niri**
!/opencode**
!/ohmyposh**

/ranger/plugins/__pycache__**

!/tmux**
/tmux/plugins**

!libinput-gestures.conf
!.zshrc

