@define-color bg rgba(20, 20, 21, 0.8);
@define-color fg #cdcdcd;
@define-color accent #f3be7c;

* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  /* opacity: 0.5; */
}

window#waybar {
  background: transparent;
  font-size: 14px;
  border-radius: 0px;
  margin: 0;
  padding: 0;
}

/* Left-most: Arch icon */
#custom-appmenu {
  font-size: 14px;
  background-image: url("/usr/share/icons/cachyos.svg");
  background-color: @bg;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  padding: 0px 12px;
  margin: 0px 8px;
  color: @fg;
}

/* Right-most: Clock */
#clock {
  font-size: 14px;
  background-color: @bg;
  border-radius: 10px;
  padding: 0px 8px;
  color: @fg;
}

/* Active window title */
#window {
  font-size: 14px;
  font-weight: 800;
  background-color: @bg;
  border-radius: 10px;
  padding: 0px 12px;
  margin: 0px 8px;
  color: @fg;
}

/* Workspace container */
#workspaces {
  background: @bg;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  color: @fg;
}

/* Individual workspace buttons */
#niri-workspaces button {
  border-radius: 10px;
  font-size: 8px;
}

#workspaces button.active {
  border-radius: 10px;
  color: #0f1117;
  background: @accent;
}

#workspaces button:hover {
  border-radius: 10px;
  background: @accent;
  color: #0f1117;
}

/* Power/exit button */
#custom-exit {
  background-color: @accent;
  font-size: 14px;
  font-weight: 800;
  color: #0f1117;
  padding: 0px 6px;
  margin: 0px 8px;
  border-radius: 10px;
}

/* Tooltips */
tooltip {
  border-radius: 12px;
  background-color: #0f1117;
  color: @fg;
  padding: 4px 8px;
}

/* Taskbar */
#taskbar {
  background-color: @bg;
  margin: 0px;
  border-radius: 10px;
  font-weight: normal;
  color: @fg;
}

/* All system info modules */
#backlight,
#pulseaudio,
#network,
#bluetooth,
#battery,
#tray,
#custom-updates,
#custom-notification {
  background-color: @bg;
  font-size: 14px;
  font-weight: 800;
  border-radius: 10px;
  padding: 0px 6px;
  margin: 0px 8px;
  color: @fg;
}

/* Battery critical warning */
/* #battery.critical:not(.charging) { */
/*   background-color: #e65100; */
/*   color: #ffffff; */
/*   animation: blink 0.5s linear infinite alternate; */
/* } */
/**/
/* @keyframes blink { */
/*   to { */
/*     background-color: #0f1117; */
/*     color: #ffffff; */
/*   } */
/* } */
